#menu
{
	position: fixed;
	width: 100%;
	height: 35px;
	background: mediumspringgreen;
}

#about
{
	background: springgreen;
}

#photos
{
	background: mediumspringgreen;
}

#playlist
{
	background: springgreen;
}


#like
{
	background: mediumspringgreen;
}
#qrcoder
{
	background: springgreen;
}

#spa
{
	background: mediumspringgreen;
}
#contact
{
	
	background: springgreen;
	
	
}
